<div id="<%= dom_id @author %>">
<h1><%= "#{@author.first_name} #{@author.last_name}" %></h1>
<% @author.books.each do |book| %>
    <p><%= book.title %></p>
<% end %>
</div>
<div>
  <%= link_to "Edit this author", edit_author_path(@author) %> |
  <%= link_to "Back to authors", authors_path %>
</div>
