<div class="pt-4">
  <%= simple_form_for(@publisher, html: { class: "row" }) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :first_name, required: true %>

    </div>

    <div class="form-actions d-flex justify-content-between">
      <%= f.button :submit, class: "btn btn-primary" %>
      <% if !current_page?('/publishers/new') %>
        <%= button_to "Delete this publisher", @publisher, method: :delete, class: "btn btn-danger text-white" %>
      <% end %>
    </div>
  <% end %>
</div>
