<div class="pt-4">
  <%= simple_form_for(@book, html: { class: "row" }) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :title, class: "col", required: true %>
      <%= f.input :isbn, class: "col", required: true %>
      <%= f.input :date_of_publication, required: true, as: :string, input_html: { data: { controller: "flatpickr" } }  %>
      <%= f.input :review %>
      <%= f.input :price %>
      <%= f.association :author, label_method: :full_name, collection: Author.order(:last_name, :first_name), include_blank: "Select an Author" %>
      <%= f.association :publisher, collection: Publisher.order(:name), include_blank: "Select a Publisher" %>

    </div>

    <div class="form-actions d-flex justify-content-between">
      <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
  <% if !current_page?('/books/new') %>
        <%= button_to "Delete this book", @book, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger text-white" %>
      <% end %>
    </div>
</div>
