<div id="<%= dom_id @book %>">
<div class="d-flex justify-content-center align-content-center gap-5">
  <div>
    <i class="fa-solid fa-book-open text-center py-5" style="font-size: 10em"></i>
</div>
<div>
  <p>
    <h1><%= @book.title %></h1>
  </p>

    <p>
    <%= "#{@book.author.first_name} #{@book.author.last_name}" %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= @book.isbn %>
  </p>

  <p>
    <strong>Date of publication:</strong>
    <%= @book.date_of_publication %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= @book.review %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @book.price %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= @book.publisher.name %>
  </p>
</div>
<%= link_to 'Add to Favorites', add_to_favorites_book_path(@book), data: { turbo_method: :post } %>

</div>
<div class="mt-5">
  <% if current_user && current_user.admin? %>
    <%= link_to "Edit this book", edit_book_path(@book) %> |
  <% end %>
  <%= link_to "Back", :back %>
</div>
